<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>Picture</th>
      <th>Brand</th>
      <th>Model</th>
      <th>Price</th>
      <th>Rating</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><img src="/app/resources/s9.jpg" /></td>
      <td>Apple</td>
      <td>iPhone X</td>
      <td>$999</td>
      <td>4.5</td>
    </tr>
    <tr>
      <td></td>
      <td>Samsung</td>
      <td>Galaxy S9</td>
      <td>$780</td>
      <td>4.3</td>
    </tr>
    <tr>
      <td></td>
      <td>Google</td>
      <td>Pixel 2 XL</td>
      <td>$800</td>
      <td>4.4</td>
    </tr>
  </tbody>
</table>
